*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--tipograficaGeneral);
}
body{
    background-image:url(/img/img_gal1.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;

}
#logo-user{

    height: 100px;
    width: 100px;
    object-fit: cover;

}
