.main-contactos{
    background-color: var(--colorBackground);
}

.contact-container{
    background-color: var(--colorBackground);
}
.contact-group{
    background-color: var(--colorBackground);
    margin-top: 25px;
}
.contact-form{
    border: 5px solid yellow;
    border-radius: 10px;
    height: 450px;
    padding: 5px;
}
.iframe-map{
    border: 5px solid yellow;
    border-radius: 10px;
    height: 450px;
    width: auto;
    margin:20px;
}



@media (max-width:1024px){
    iframe{
        width: 100%;
    }
}

   
        
    
    
        
   
