
.body-error404 {
  background: url('https://media.giphy.com/media/xT0GqeSlGSRQG2vBtq/giphy.gif') no-repeat center center fixed; /* URL del GIF de fondo */
  background-position: center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.gif-container img {
  max-width: 100%;
  height: auto;
}

.error-code {
  font-size: 10vw;
  font-weight: bold;
  color: #fbf050;
  animation: bounce 2s infinite;
  margin-bottom: 200px;
  margin-top: 100px;
}

@keyframes bounce {
  0%, 50%, 0%, 80%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.error-message {
  font-size: 50px;
  color: #567194;
  
}

.btn-error{
  height: 100px;
  width: 300px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

@media (max-width: 360px)
 { .btn-error
  { height: 60px; 
  width: 180px; 
  font-size: 1rem; } 
}

.error-container {
  min-height: 100vh;
}

@media (max-width: 768px) {
  .body-error404 {
    background-size: 100% 100%; /* Hace que el GIF se ajuste al contenedor sin recortar */
  }
}

@media (max-width: 1024px) {
  .body-error404 {
    background-size: 100% 100%; /* Asegura que el GIF ocupe todo el espacio en pantallas muy pequeñas */
  }
}

@media (min-width: 480px)and(max-width:767){
  .body-error404 {
    background-size:100% 100%;
  }
}


